<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h2 class="m-0 font-weight-bold">Wallet Data</h2>
        </div>
          <div class="row">
            <div class="col-9">
              <%= search_form_for @q, url: admins_wallet_statuses_path do |f| %>               
                <div class="row">
                  <div class="col-6">
                    <%= f.search_field :wallet_user_name_cont, placeholder: "Search by Name", class: 'form-control admin-search' %>
                  </div>
                  <div class="col-3">
                    <%= f.button :Search, class: "btn btn-sm btn-success"%>     
                  </div>  
                </div>
              <%end%>
            </div>
          </div>
        </div>
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th class="th-sm"><%= sort_link(@q, :wallet_user_name) %></th>
                  <th class="th-sm"><%= sort_link(@q, :nominal) %></th>
                  <th class="th-sm"><%= sort_link(@q, :created_at, 'Request at') %></th>
                  <th>Proof of Payment</th>
                  <th class="th-sm"><%= sort_link(@q, :status) %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @wallet_statuses.each do |wallet| %>
                  <tr>
                    <td><%=wallet.wallet.user.name.capitalize%></td>
                    <td><%=number_to_currency(wallet.nominal, locale: :id)%></td>
                    <td><%=wallet.created_at.strftime('%d %b %Y - %H:%M')%></td>
                    <td><img src=<%= wallet.proof_of_payment.thumb%> alt=""></td>
                    <td><%=wallet.status%></td>
                    <td>
                      <% if wallet.status.eql?('pending') %>
                        <%= link_to 'success',success_admins_wallet_status_path(wallet.id), method: :patch, class: "btn btn-success"%>
                        <%= link_to 'failed',failed_admins_wallet_status_path(wallet.id), method: :patch, class: "btn btn-danger"%>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%== render partial: 'admins/shared/bootstrap_nav', locals: {pagy: @pagy} %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
