<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h2 class="m-0 font-weight-bold">Service Charge Data</h2>
        </div>
          <div class="row">
            <div class="col-9">
              <%= search_form_for @q, url: admins_service_charges_path do |f| %>               
                <div class="row">
                  <div class="col-6">
                    <%= f.search_field :name_cont, placeholder: "Search by Service Charge Name", class: 'form-control admin-search' %>
                  </div>
                  <div class="col-3">
                    <%= f.button :Search, class: "btn btn-sm btn-success"%>     
                  </div>  
                </div>
              <%end%>
            </div>
          </div>
        </div>
          <div class="table-responsive">
          
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th class="th-sm"><%= sort_link(@q, :name) %></th>
                  <th class="th-sm"><%= sort_link(@q, :price) %></th>
                </tr>
              </thead>
              <tbody>
              <% @service_charges.each do |postal_fee| %>
                <tr>
                  <td><%= link_to postal_fee.name.titleize, edit_admins_service_charge_path(postal_fee)%></td>
                  <td><%= number_to_currency(postal_fee.price, :locale => :id) %></td>
                </tr>
              <% end %>
              </tbody>
              
            </table>
            <%== render partial: 'admins/shared/bootstrap_nav', locals: {pagy: @pagy} %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
