<nav class="mb-1 navbar navbar-expand-lg navbar-light info-color">
  <div class="">
		  <a class="navbar-brand" href="/admins/products">Product</a>
		  <a class="navbar-brand" href="/admins/transactions">Transaction</a>
          <%= link_to "Logout", destroy_user_session_path, method: :delete , :class%>
  </div>
</nav>
