
<%= form_for(user, url: users_path, html: { method: :put }) do |f| %>

  <div class="form-inputs">
    <%= f.text_field :name %>
  </div>

  <div class="form-actions">
    <%= f.button :Update %>
  </div>
<% end %>
