<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h2 class="m-0 font-weight-bold">Coupon Data</h2>
        </div>
          <div class="row">
            <div class="col-9">
              <%= search_form_for @q, url: admins_coupons_path do |f| %>               
                <div class="row">
                  <div class="col-6">
                    <%= f.search_field :name_cont, placeholder: "Search by Name", class: 'form-control admin-search' %>
                  </div>
                  <div class="col-3">
                    <%= f.button :Search, class: "btn btn-sm btn-success"%>     
                  </div>  
                </div>
              <%end%>
            </div>
            <div class="col-3">
              <%= link_to 'Add New Coupons', new_admins_coupon_path, class: "btn btn-sm btn-success float-right"%>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <%if @coupons.present?%> 
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th class="th-sm"><%= sort_link(@q, :name) %></th>
                  <th class="th-sm"><%= sort_link(@q, :discount) %></th>
                  <th class="th-sm"><%= sort_link(@q, :qty, 'Quantity') %></th>
                  <th class="th-sm"><%= sort_link(@q, :status) %></th>
                </tr>
              </thead>
              <tbody>
                <% @coupons.each do |coupon| %>
                  <tr>
                    <td><%= link_to coupon.name, edit_admins_coupon_path(coupon)%></td>
                    <td><%= number_to_currency(coupon.discount, locale: :id) %></td>
                    <td><%= coupon.qty %></td>
                    <td><%= coupon.status %></td>
                    </tr>
                <% end %>
              </tbody>
            </table>
            <%== render partial: 'admins/shared/bootstrap_nav', locals: {pagy: @pagy} %>
          <%else%>
            <h3>No Data</h3>
          <%end%>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
