 
<section class="checkout spad">
  <div class="container">
    <%= link_to 'back', cart_products_path, class: 'btn site-btn' %>
    <div class="checkout__form">
      <br>
      <h4>Billing Details</h4>
      <%=render 'form'%>
    </div>
  </div>
</section>
