<!-- Hero Section Begin -->
<section class="hero">
  <div class="container">
    <%= search_form_for @q, url: root_url do |f| %> 
    <div class="row">
      <div class="col-6">
      <%id = params[:q][:region_id_eq].to_i if params[:q].present?%>
        <%= f.select :region_id_eq, options_from_collection_for_select(Region.all, "id", "name",id), include_blank: 'All Region'%>
      </div>
      <div class="col-6">
        <div class="hero__search">
          <div class="col-12">
            <%= f.search_field :name_cont, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= f.button :Search, class: 'site-btn'%>     
      </div>
      </div> 
    </div>
    <%end%>
  </div>
</section>
<!-- Hero Section End -->