

<div class="container col-lg-4">
  <%= simple_form_for @wallet_status do |f| %>
    <div class="row">
      <div class="col-12">
        <%= f.input :nominal %>
      </div>
      <div class="col-12">
        <%= f.input :proof_of_payment, as: :file %>
      </div>
    </div>
    <div class="row button">
          <%= f.button :submit, 'Top Up', class: "btn btn-info col-12" %>
          <%= link_to "Cancel", root_path, class: "btn btn-danger col-12" %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>Langkah - Langkah untuk Top Up : </h3>
          <%=render 'top_up_methode'%>
        </div>
      </div>
    </div>
  <%end%>
</div>