<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          BCA
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>Berikut prosedur pembayaran Transfer melalui ATM BCA :
        <br><br>
        1.Masukan PIN anda  
        <br>
        2.Pilih Transaksi lainnya  
        <br>
        3.Pilih Transfer  
        <br>
        4.Masukan No. Rek 5271239870  
        <br>
        5.Masukan Jumlah yang ingin di Top Up  
        <br>
        6.Periksa transaksi, jika sudah benar pilih “Benar”  
        <br>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          m-BCA
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p>
        Berikut prosedur pembayaran Transfer hanya melalui M-BCA :  
        <br><br>
        1. Masukan kode akses  
        <br>
        2. Pilih Transfer 
        <br>
        3.Masukan No. Rek 5271239870 
        <br>
        4. Masukan Jumlah Pembayaran Rp. xxx,-  
        <br>
        5. Periksa transaksi, jika sudah benar pilih “Benar”
        </p>  
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          OVO
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">

      <p>
      Berikut prosedur pembayaran Transfer hanya melalui OVO :  
      <br><br>
        1. Masuk ke menu 'Transfer' pada laman Home OVO.
        <br>
        2. Pilih 'Ke Rekening Bank'
        <br>
        3. Pilih 'BCA' melakukan transfer.
        <br>
        4. Masukkan nomor rekening '5271239870' dan nominal transfer (Min. Rp10.000,-)
        <br>
        5. Klik 'Lanjutkan' untuk melanjutkan transfer.
        <br>
        6. Transfer Anda telah berhasil.
      </p>
      </div>
    </div>
  </div>
</div>