<div class="alert alert-info"><%= notice %></div>
<h1>Postal Fee</h1>
<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Name</th>
      <th class="th-sm">Price</th>
      <th class="th-sm"><%= link_to 'Add New Postal Fee', new_admins_postal_fee_path, class: "btn btn-sm btn-success", style: "color:white"%></th>
    </tr>
  </thead>
  <tbody>
    <% @posfees.each do |pf| %>
      <tr>
        <td><%= link_to pf.name, edit_admins_postal_fee_path(pf)%></td>
        <td><%= number_to_currency(pf.price, unit: "Rp", delimiter: ".", separator: ",") %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>

<script>
$(document).ready(function () {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
});
</script>
