<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" >
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Entice</div>
    </a>
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <%=link_to admins_pages_index_path, class: "nav-link" do%>
            <i class= "fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
      <%end%>
    </li>

    <li class="nav-item active">
      <%=link_to admins_products_path, class: "nav-link" do%>
        <i class= "fas fa-shopping-basket"></i>
        <span>Product</span></a>
        <%end%>
    </li>

    <li class="nav-item active">
      <%=link_to admins_orders_path, class: "nav-link" do%>
        <i class= "fas fa-money-bill-wave"></i>
        <span>Transaction</span></a>
        <%end%>
    </li>

    <li class="nav-item active">
      <%=link_to admins_service_charges_path, class: "nav-link" do%>
        <i class= "fas fa-running"></i>
        <span>Service Charge</span></a>
        <%end%>
    </li>

    <li class="nav-item active">
      <%=link_to admins_coupons_path, class: "nav-link" do%>
        <i class= "fas fa-percent"></i>
        <span>Coupon</span></a>
        <%end%>
    </li>

    <li class="nav-item active">
      <%=link_to admins_wallet_statuses_path, class: "nav-link" do%>
        <i class= "fas fa-wallet"></i>
        <span>User Wallet</span></a>
        <%end%>
    </li>
</ul>
