 <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <%=render 'form'%>
            </div>
        </div>
    </section>