<div class="container">
  <h1><%=params[:action].capitalize%> Product</h1>
  <div class="row">
    <div class="col-12">
      <%= simple_form_for [:admins, @product] do |f| %>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <%= f.input :name %>
          </div>
          <div class="col-lg-6 col-md-12">
            <%= f.input :price %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.input :description, :input_html => { :cols => 5, :rows => 10 } %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <%= f.input :status, collection: Product.statuses.keys, label_method: lambda{|k| k.to_s.titleize}, prompt: :translate, html_input: {class:"col-12"} %>
          </div>
          <div class="col-lg-6 col-md-12">
            <%= f.input :region_id, collection: Region.all.order(name: :asc), label_method: lambda{|r| r.name.titleize}, prompt: :translate, html_input: {class:"col-12"}%>
          </div>
        </div>
        <div class="row">  
          <div class="col-12">
            <%= f.input :image, as: :file %>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= f.button :submit, class: "btn btn-info col-11" %>
          </div>
          <div class="col-6">
            <%= link_to "Cancel", admins_products_path, class: "btn btn-danger col-11" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
