<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h2 class="m-0 font-weight-bold">Product Data</h2>
        </div>
          <div class="row">
            <div class="col-9">
              <%= search_form_for @q, url: admins_products_path do |f| %>               
                <div class="row">
                  <div class="col-6">
                    <%= f.search_field :name_or_region_name_cont, placeholder: "Search by Name or Region", class: 'form-control admin-search' %>
                  </div>
                  <div class="col-3">
                    <%= f.button :Search, class: "btn btn-sm btn-success"%>     
                  </div>  
                </div>
              <%end%>
            </div>
            <div class="col-3">
              <%= link_to 'Add New Product', new_admins_product_path, class: "btn btn-sm btn-success float-right"%>
            </div>
          </div>
        </div>
          <div class="table-responsive">
          
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th class="th-sm"><%= sort_link(@q, :name) %></th>
                  <th class="th-sm"><%= sort_link(@q, :price) %></th>
                  <th class="th-sm"><%= sort_link(@q, :regions_name, 'Region') %></th>
                  <th class="th-sm">Image</th>
                  <th class="th-sm">Check Comment</th>
                  <th class="th-sm"><%= sort_link(@q, :status) %></th>
                </tr>
              </thead>
              <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td><%= link_to product.name.titleize, edit_admins_product_path(product)%></td>
                  <td><%= number_to_currency(product.price, :locale => :id) %></td>
                  <td><%= product.region.name.titleize %></td>
                  <td><img src=<%= product.image.thumb %> alt=""></td>
                  <td><%= link_to "Check Comment", admins_product_path(product) %></td>
                  <td>
                    <%if product.ready?%>
                      <%= link_to 'Set to Deactive',set_deactive_admins_product_path(product.id), method: :patch, class: "btn btn-danger"%>
                    <% else %>
                      <%= link_to 'Set to Active',set_active_admins_product_path(product.id), method: :patch, class: "btn btn-success"%>  
                    <% end %>
                    
                  </td>
                </tr>
              <% end %>
              </tbody>
              
            </table>
            <%== render partial: 'admins/shared/bootstrap_nav', locals: {pagy: @pagy} %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
