<div class="container mb-5 mt-5">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center mb-5"> Nested comment section </h3>
        <div class="row">
          <div class="col-md-12">
            <div class="media"> 
              <div class="media-body">
                <div class="row">
                  <div class="col-8 d-flex">
                    <h5>Maria Smantha</h5>
                     <span>- 2 hours ago</span>
                  </div>
                  <div class="col-4">
                    <div class="pull-right reply"> <a href="#"><span><i class="fa fa-reply"></i> reply</span></a> </div>
                  </div>
                </div>
                 It is a long established fact that a reader will be distracted by the readable content of a page. 
                <div class="media mt-4"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/xELPaag.jpg" /></a>
                  <div class="media-body">
                    <div class="row">
                      <div class="col-12 d-flex">
                        <h5>Simona Disa</h5>
                         <span>- 3 hours ago</span>
                      </div>
                    </div>
                     letters, as opposed to using 'Content here, content here', making it look like readable English.
                  </div>
                </div>
                <div class="media mt-3"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/nAcoHRf.jpg" /></a>
                  <div class="media-body">
                    <div class="row">
                      <div class="col-12 d-flex">
                        <h5>John Smith</h5>
                         <span>- 4 hours ago</span>
                      </div>
                    </div>
                     the majority have suffered alteration in some form, by injected humour, or randomised words.
                  </div>
                </div>
              </div>
            </div>
            <div class="media mt-4"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="https://i.imgur.com/xELPaag.jpg" />
              <div class="media-body">
                <div class="row">
                  <div class="col-8 d-flex">
                    <h5>Shad f</h5>
                     <span>- 2 hours ago</span>
                  </div>
                  <div class="col-4">
                    <div class="pull-right reply"> <a href="#"><span><i class="fa fa-reply"></i> reply</span></a> </div>
                  </div>
                </div>
                 The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33. 
                <div class="media mt-4"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/nUNhspp.jpg" /></a>
                  <div class="media-body">
                    <div class="row">
                      <div class="col-12 d-flex">
                        <h5>Andy flowe</h5>
                         <span>- 5 hours ago</span>
                      </div>
                    </div>
                     Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                  </div>
                </div>
                <div class="media mt-3"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/HjKTNkG.jpg" /></a>
                  <div class="media-body">
                    <div class="row">
                      <div class="col-12 d-flex">
                        <h5>Simp f</h5>
                         <span>- 5 hours ago</span>
                      </div>
                    </div>
                     a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
                  </div>
                </div>
                <div class="media mt-3"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/nAcoHRf.jpg" /></a>
                  <div class="media-body">
                    <div class="row">
                      <div class="col-12 d-flex">
                        <h5>John Smith</h5>
                         <span>- 4 hours ago</span>
                      </div>
                    </div>
                     the majority have suffered alteration in some form, by injected humour, or randomised words.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
