<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h2 class="m-0 font-weight-bold">Transaction Data</h2>
        </div>
          <div class="row">
            <div class="col-9">
              <%= search_form_for @q, url: admins_orders_path do |f| %>               
                <div class="row">
                  <div class="col-6">
                    <%= f.search_field :cart_user_name_or_status_cont, placeholder: "Search by Username or Status", class: 'form-control admin-search' %>
                  </div>
                  <div class="col-3">
                    <%= f.button :Search, class: "btn btn-sm btn-success"%>     
                  </div>  
                </div>
              <%end%>
            </div>
          </div>
        </div>
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th class="th-sm"><%= sort_link(@q, :cart_user_name, 'Customer Name') %></th>
                  <th class="th-sm"><%= sort_link(@q, :total_price) %></th>
                  <th class="th-sm">Total Item</th>
                  <th class="th-sm"><%= sort_link(@q, :status) %></th>
                  <th class="th-sm"><%= sort_link(@q, :receiver) %></th>
                  <th class="th-sm">Receipt Number</th>
                </tr>
              </thead>
              <tbody>
    <% @orders.each do |t| %>
      <tr>
        <td><%= link_to t.cart.user.name, admins_order_path(t.id)%></td>
        <td><%= number_to_currency(t.total_price, locale: :id) %></td>
        <td><%= t.cart.cart_products.count  %></td>
        <%if ['cancelled','finished','reviewed'].include? t.status%>
          <td><%= t.status.capitalize%></td>
          <% elsif t.status.eql? 'delivered_confirmed' %>
          <td>Waiting Confirmation</td>
        <% elsif t.status.eql? 'processed' and t.receipt_number.eql? '-'%>
          <td>
            <%= link_to 'Add Receipt', input_receipt_admins_order_path(t.id),  class: 'btn btn-primary', :remote => true  %>
            <div id="modal-win" class="modal" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true"></div>
          </td>
        <% elsif t.status.eql? 'delivered' and t.receiver.eql? '-' %>
          <td>
            <%= link_to 'Add Receiver', input_receiver_admins_order_path(t.id), remote: true, class: "btn btn-primary"%>
            <div id="modal-window" class="modal" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true"></div>
          </td>
        <%else%>
          <td><%= link_to t.status.capitalize, transition_admins_order_path(t.id), method: :patch, class: 'btn btn-primary'%></td>
        <% end %>

          <td>
            <%= t.receiver.titleize %>
          </td>

          <td>
            <%= t.receipt_number %>
          </td>
        </tr>
    <% end %>
  </tbody>
              
            </table>
            <%== render partial: 'admins/shared/bootstrap_nav', locals: {pagy: @pagy} %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
