<nav class="mb-1 navbar navbar-expand-lg navbar-light info-color">
  
	<a class="btn btn-dark" href="root">Logo</button>
		  <a class="navbar-brand" href="/admins/products">Product</a>
		  <a class="navbar-brand" href="/admins/transactions">Transaction</a>
          <%= link_to "Logout", destroy_user_session_path, method: :delete , :class%>
  
</nav>
